<?xml version="1.0"?>

<connectionStrings>
  <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-SyncfusionASPNETWebSite2-20171101163959;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SyncfusionASPNETWebSite2-20171101163959.mdf" />-->
  <add name="Evidencije" connectionString="Datasource=mysqlinstance.co9sqhrmzg4q.eu-west-1.rds.amazonaws.com;port=3306;Database=planet_bhrt_dev;uid=planet_bhrt_dev;pwd=web404;Allow Zero Datetime=True;Charset=cp1250;pooling=true; Min Pool Size=5; Max Pool Size=10;" providerName="MySql.Data.MySqlClient" />
  <add name="MySQLConnection" connectionString="Datasource=mysqlinstance.co9sqhrmzg4q.eu-west-1.rds.amazonaws.com;port=3306;Database=planet_bhrt_dev;uid=planet_bhrt_dev;pwd=web404;Allow Zero Datetime=True;Charset=cp1250;pooling=true; Min Pool Size=2; Max Pool Size=10;" providerName="MySql.Data.MySqlClient" />
  <add name="LocalMySqlServerNew" connectionString="Datasource=mysqlinstance.co9sqhrmzg4q.eu-west-1.rds.amazonaws.com;port=3306;Database=planet_bhrt_dev;uid=planet_bhrt_dev;pwd=web404;Allow Zero Datetime=True;Charset=cp1250;pooling=true; Min Pool Size=2; Max Pool Size=10;" providerName="MySql.Data.MySqlClient" />
  <remove name="LocalMySqlServer" />
  <add name="LocalMySqlServer" connectionString="Datasource=mysqlinstance.co9sqhrmzg4q.eu-west-1.rds.amazonaws.com;port=3306;Database=planet_bhrt_dev;uid=planet_bhrt_dev;pwd=web404;Allow Zero Datetime=True;Charset=cp1250;pooling=true; Min Pool Size=2; Max Pool Size=10;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
